*{
    padding: 0px;
    margin: 0px;
}
button{
    border: none;
}
.DeletBtn{
  background-color: red;
}
.ModiferBtn{
  background-color: rgb(232, 240, 6);
}
body div button{
    margin:10px 0px 0px 15px ;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
  height: 50px;
  width: 100%;
  background-color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  justify-content: center;
}


nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 25px;
  color: white;
}


nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;
}


nav ul li a:hover {
  background-color: #ffffff;
  color: rgb(57, 57, 57);
  border-radius: 4px;
}


div table {
  margin-top: 20px;
  margin-left: 20px;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  overflow: auto;
}
.TableDIv{
    max-height: 450px;
    overflow-x: auto;
    overflow-y: auto;
    

}


table, td, th {
  border: 1px solid #ddd;
}

th {
  background-color: #2c3e50;
  color: #ffffff;
  text-align: left;
  padding: 12px;
  border-top: none;
}


td {
  padding: 10px;
  color: #333;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}


tr:hover {
  background-color: #e6f2ff;
}


table {
  border-radius: 6px;
  overflow: hidden;
}

.header{
    background-color:#D9D9D9;
    height: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}
@media (max-width: 600px) {
    .InpMain {
        grid-template-columns: 1fr;
    }
      .ModalAjouter {
        grid-template-columns: 1fr;
    }
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* fade */
  display: none;
  z-index: 999;
}
.ModalAjouter {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    max-width: 600px;
    height: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    background-color: #fff;
    padding: 20px;
    z-index: 1000;
}



.forminp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.forminp label {
    width: auto;
    margin-bottom: 5px;
    text-align: left;
}
.forminp input {
    width: 100%;
    height: 35px;
}
button{
    cursor: pointer;
}
.submit{
    background-color: #0ACD41;
    color: white;
    height: 30px;
    border: none;
    border-radius: 10px;
}
.table{
    color: black;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;

}

.table:active{
    background-color: rgb(103, 103, 103);
    color: rgb(255, 255, 255);
}
.submit:active{
    background-color: #5cfb89;
    color: black;
}